/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* color */
  --clr-light-100: #fffdfa;
  --clr-light-200: #b3b3b3;

  --clr-dark-100: #404040;
  --clr-dark-200: #282828;
  --clr-dark-300: #080707;

  /* font family */
  --ff-primary: 'Sora', sans-serif;
  --ff-decorative: 'Italiana', serif;

  /* font size */
  --fs-100: 0.626rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-600: 1.2rem;
  --fs-700: 1.75rem;
  --fs-750: 2.25rem;
  --fs-800: 3.5rem;
  --fs-850: 4.5rem;
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);

  /* font weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* letter spacing */
  --ls-100: 0.1rem;
  --ls-200: 0.2rem;
  --ls-300: 0.3rem;
  --ls-400: 0.4rem;

  /* opacity */
  --op-100: 0.9;
  --op-200: 0.8;
  --op-300: 0.7;
  --op-400: 0.6;

  /* gap */
  --gap-100: 0.1rem;
  --gap-200: 0.2rem;
  --gap-300: 0.3rem;
  --gap-400: 0.4rem;
  --gap-500: 0.6rem;
  --gap-600: 0.9rem;
  --gap-700: 1rem;
  --gap-800: 1.5rem;
  --gap-900: 2.75rem;

  /* padding */
  --pad-100: 0.3rem;
  --pad-200: 0.75rem;
  --pad-300: 1rem;
  --pad-400: 1.25rem;
  --pad-500: 1.5rem;
  --pad-600: 1.75rem;
  --pad-700: 2rem;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding; inherit fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove outline on focus */
*:focus {
  outline: none;
}

/* Set default color scheme */
html {
  color-scheme: dark light;
}

/* Set core body defaults */
body {
  height: 100vh;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

/* Make images and videos easier to work with */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* display */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.margin-auto {
  margin: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-super {
  vertical-align: super;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

/* text color */

.color-light-100 {
  color: var(--clr-light-100);
}
.color-light-200 {
  color: var(--clr-light-200);
}
.color-dark-100 {
  color: var(--clr-dark-100);
}
.color-dark-200 {
  color: var(--clr-dark-200);
}
.color-dark-300 {
  color: var(--clr-dark-300);
}

/* background color */

.bg-transparent {
  background-color: transparent;
}

.bg-light-100 {
  background-color: var(--clr-light-100);
}
.bg-light-200 {
  background-color: var(--clr-light-200);
}
.bg-dark-100 {
  background-color: var(--clr-dark-100);
}
.bg-dark-200 {
  background-color: var(--clr-dark-200);
}
.bg-dark-300 {
  background-color: var(--clr-dark-300);
}

/* font family */

.ff-primary {
  font-family: var(--ff-primary);
}
.ff-decorative {
  font-family: var(--ff-decorative);
}

/* font size */

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-750 {
  font-size: var(--fs-750);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-850 {
  font-size: var(--fs-850);
}
.fs-900 {
  font-size: var(--fs-900);
}

/* font weight */

.fw-100 {
  font-weight: var(--fw-100);
}
.fw-200 {
  font-weight: var(--fw-200);
}
.fw-300 {
  font-weight: var(--fw-300);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}
.fw-900 {
  font-weight: var(--fw-900);
}

/* letter spacing */

.ls-100 {
  letter-spacing: var(--ls-100);
}
.ls-200 {
  letter-spacing: var(--ls-200);
}
.ls-300 {
  letter-spacing: var(--ls-300);
}
.ls-400 {
  letter-spacing: var(--ls-400);
}

/* opacity */

.op-100 {
  opacity: var(--op-100);
}
.op-200 {
  opacity: var(--op-200);
}
.op-300 {
  opacity: var(--op-300);
}
.op-400 {
  opacity: var(--op-400);
}

/* gap */

.gap-100 {
  gap: var(--gap-100);
}
.gap-200 {
  gap: var(--gap-200);
}
.gap-300 {
  gap: var(--gap-300);
}
.gap-400 {
  gap: var(--gap-400);
}
.gap-500 {
  gap: var(--gap-500);
}
.gap-600 {
  gap: var(--gap-600);
}
.gap-700 {
  gap: var(--gap-700);
}
.gap-800 {
  gap: var(--gap-800);
}
.gap-900 {
  gap: var(--gap-900);
}

/* padding */

.pad-100 {
  padding: var(--pad-100);
}
.pad-200 {
  padding: var(--pad-200);
}
.pad-300 {
  padding: var(--pad-300);
}
.pad-400 {
  padding: var(--pad-400);
}
.pad-500 {
  padding: var(--pad-500);
}
.pad-600 {
  padding: var(--pad-600);
}
.pad-700 {
  padding: var(--pad-700);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.container {
  height: 100vh;
  grid-template-rows: auto repeat(3, 1fr) auto;
  grid-auto-columns: 1fr;
  grid-template:
    'search'
    'current'
    'conditions'
    'switch'
    'copyright';

  background-color: var(--clr-light-100);
  color: var(--clr-dark-300);
}

.search {
  grid-area: search;
}
.current {
  grid-area: current;
}
.conditions {
  grid-area: conditions;
}
.copyright {
  grid-area: copyright;
}

#input {
  max-width: 280px;
  border: none;
  border-bottom: 1px solid var(--clr-dark-300);
  height: 2.25rem;
}

#input::placeholder {
  text-transform: none;
}

#search {
  cursor: pointer;
  border: none;
  height: 2.25rem;
  transition: 250ms;
}

#search:hover {
  opacity: 1;
}

.conditions {
  grid-template:
    'feelslike humidity wind'
    'sunrise sunset visibility';

  gap: var(--gap-100);
}

.box {
  background: rgba(255, 253, 250, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: var(--pad-500) var(--pad-100);
  border-radius: 4px;
}

/* switch button */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--clr-dark-300);
  width: 50px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  outline: 2px solid var(--clr-light-100);
}

.fi-sr-sun {
  padding-top: 5px;
  color: var(--clr-light-100);
}

.fi-sr-moon {
  padding-top: 5px;
  color: var(--clr-light-100);
}

.checkbox-label .ball {
  background: var(--clr-light-100);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* ------------------- */
/* Media               */
/* ------------------- */

@media (min-width: 600px) {
  .search {
    padding: var(--pad-500);
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url('./img/bg-light.jpg');
    background-size: cover;
  }

  .container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 750px;
    width: 750px;
    border-radius: 6px;

    background: rgba(255, 253, 250, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  .conditions {
    max-width: 500px;
    background: none;
    box-shadow: none;
  }

  .box {
    padding: var(--pad-700) var(--pad-300);
    margin: 0.25em;
  }

  .bg-dark {
    background-image: url('./img/bg-dark1.jpg');
  }
}

/* light/dark theme */

.theme-dark {
  color: var(--clr-light-100);
  background: var(--clr-dark-300);

  background: rgba(255, 253, 250, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.filter-dark {
  filter: invert(100%);
}
